@{
    var users = ViewBag.Users as List<ConsumingWebAPIs.Controllers.User>;
}

<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company Name</th>
            <th>CatchPhrase</th>
            <th>Bs</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Website</td>
                    <td>@user.Company?.Name</td>
                    <td>@user.Company?.CatchPhrase</td>
                    <td>@user.Company?.Bs</td>
                </tr>
            }
        
      
    </tbody>
</table>
